h1 {
    margin: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 400;
    width: 100%;
    background-color: gray;
    color: white;
  }
  .inputs{
      width: 75px;
  }
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    width: 100%;
}
p{
    /* since the page starts over budget */
    background-color: red;
}